:root {
   --fontfamily: "Segoe UI", Helvetica, sans-serif;
   --backgroundcolor: #ffffff;
   --accentcolor: #f36805;
   --fontcolor: #242e30;
   --transition: all 150ms ease-in;
}

body {
   margin: 0;
   font-family: var(--fontfamily);
   color: var(--fontcolor);
   background-color: var(--backgroundcolor);
   box-sizing: border-box;
}

/* ------------- */
/*    Header     */
/* ------------- */

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
   position: relative;
   z-index: 3;
   img:hover {
      cursor: pointer;
   }
   .header--headline {
      font-size: 14px;
      font-weight: bold;
   }

   .header-right-side-wrapper {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .right-element {
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 100%;
         height: 2rem;
         width: 2rem;
         padding: 0.5rem;
         transition: var(--transition);
         &:hover {
            background-color: rgba(128, 128, 128, 0.1);
            cursor: pointer;
         }
      }

      .burger-menu-wrapper {
         flex-direction: column;
         gap: 0.2rem;
         .burger-menu-line {
            width: 1.5rem;
            height: 2px;
            background-color: var(--fontcolor);
         }
      }
   }
}

.main-container {
   position: relative;
}

/* ------------- */
/*    Content    */
/* ------------- */

.content-container {
   min-height: 100vh;
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header-image-wrapper {
   position: relative;
   .hero-image {
      width: 100%;
   }
}

/* ------------- */
/*    Hero       */
/* ------------- */

.hero-content-wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.3);
   z-index: 1;
}

.hero-content {
   width: 60%;
   position: relative;

   .company-image {
      position: absolute;
      top: 0;
      transform: translateY(-70%);
      left: 0;
      background-color: white;
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         width: 4rem;
         height: 4rem;
         object-fit: contain;
      }
   }
}

.title-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 2rem;
   h1 {
      margin: 0rem;
   }
   .hero-button-wrapper {
      display: flex;
      gap: 0.5rem;
      img {
         width: 1.2rem;
         height: 1.2rem;
         background-color: rgba(128, 128, 128, 0.1);
         padding: 0.7rem;
         border-radius: 100%;
         transition: var(--transition);
         &:hover {
            background-color: rgba(128, 128, 128, 0.2);
            cursor: pointer;
         }
      }
   }
}

.ratings-wrapper {
   display: flex;
   align-items: center;
   gap: 0.3rem;
   .rating-star {
      color: orange;
      font-size: 1.8rem;
   }
   .ratings-number {
      font-size: 14px;
      text-decoration: underline;
   }
}

.delivery-costs-wrapper {
   display: flex;
   align-items: center;
   gap: 0.3rem;
   font-size: 14px;
   opacity: 0.8;
   img {
      width: 1.5rem;
      height: 1.5rem;
   }
}

.discount-wrapper {
   background-color: #f6c343dc;
   width: 30%;
   padding: 1rem 1.5rem 0.6rem 1.5rem;
   border-radius: 15px;
   font-size: 14px;
   margin-bottom: 1rem;
   .discount-headline {
      font-weight: bold;
   }
   .discount-description {
      margin-bottom: 7%;
   }
   .discount-condition {
      font-size: 12px;
      opacity: 0.8;
   }
}

.stamp-card-wrapper {
   font-size: 14px;
   display: flex;
   justify-content: space-between;
   border: 1px solid rgba(0, 0, 0, 0.24);
   border-radius: 10px;
   padding: 0.8rem 1rem;
   transition: var(--transition);
   margin-bottom: 1rem;
   &:hover {
      cursor: pointer;
      background-color: rgba(128, 128, 128, 0.1);
   }
   div:first-child {
      font-weight: bold;
   }
   .percent-icon {
      padding: 0.1rem 0.4rem;
      background-color: var(--accentcolor);
      border-radius: 100%;
      height: 14px;
      width: 14px;
      color: white;
      margin-right: 8px;
   }
}

.search-bar-wrapper {
   display: flex;
   align-items: center;
   font-size: 14px;
   font-weight: 600;
   gap: 1.5rem;
   padding: 1rem;
   div {
      display: flex;
      gap: 0.5rem;
      transition: var(--transition);
      &:hover {
         cursor: pointer;
      }
   }
   img {
      width: 1.2rem;
      height: 1.2rem;
   }
   .search-bar-foods-wrapper {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      white-space: nowrap;
      overflow: hidden;

      div {
         padding: 0.2rem 0.6rem;
         border-radius: 20px;
      }
      div:hover {
         background-color: rgba(128, 128, 128, 0.1);
      }
   }
   .food-category-icon {
      width: 1.2rem;
      height: 1.2rem;
      background-color: rgba(128, 128, 128, 0.1);
      border-radius: 100%;
      padding: 0.7rem;
      &:hover {
         background-color: rgba(128, 128, 128, 0.2);
      }
   }
   .food-category-icon-active {
      background-color: #262626;
      color: white;
      padding: 0.4rem 0.6rem !important;
      &:hover {
         background-color: #262626 !important;
         opacity: 0.9;
      }
   }
   .arrow {
      filter: invert(1);
   }
}

/* ------------- */
/*     Dishes    */
/* ------------- */

.dishes-main-container {
   background-color: #fcfcfc;
   width: 100%;
   margin-bottom: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   .headline-favourits-icon {
      width: 60%;
      margin-bottom: 1.5rem;
      img {
         width: 1.2rem;
         height: 1.2rem;
         padding-left: 0.7rem;
      }
   }
}

.dishes-single-wrapper {
   width: 57%;
   display: flex;
   flex-direction: column;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   padding: 1rem;
   transition: var(--transition);
   margin-bottom: 1rem;
   &:hover {
      cursor: pointer;
      background-color: rgba(128, 128, 128, 0.1);
   }

   .dishes-single-head-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.8rem;
      .dishes-single-headline {
         margin: 0;
         font-size: 1.25rem;
         display: flex;
         align-items: center;
         gap: 0.5rem;
         img {
            padding-top: 5px;
            width: 1.2rem;
            height: 1.2rem;
         }
      }
      .counter-icon {
         border-radius: 100%;
         padding: 0.25rem;
         border: 2px solid #f36805b0;
         display: flex;
         align-items: center;
         justify-content: center;
         transition: var(--transition);
         z-index: 999;
         &:hover {
            cursor: pointer;
            background-color: var(--accentcolor);
         }
         img {
            width: 20px;
            height: 20px;
            filter: invert(1);
         }
      }
   }

   .dishes-single-description {
      width: 80%;
      margin-bottom: 0.8rem;
   }

   .dishes-single-price {
      font-size: 20px;
      font-weight: bold;
      display: flex;
      gap: 0.3rem;
      margin-bottom: 0.2rem;
   }
}

.dishes-all {
   img {
      width: 60%;
      border-radius: 20px;
      height: 20vh;
      object-fit: cover;
   }
}

/* ------------- */
/* Shopping-Cart */
/* ------------- */

.shopping-cart-container {
   height: 500vh;
   width: 20%;
   background-color: var(--backgroundcolor);
   position: absolute;
   top: 0;
   right: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: -3px 0 10px -5px rgba(0, 0, 0, 0.5);
   z-index: 2;
}

.delivery-option-wrapper {
   display: flex;
   justify-content: center;
   width: 80%;
   gap: 0.5rem;
   margin-bottom: 2rem;
   div {
      background-color: #efedea;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      font-weight: 550;
      transition: var(--transition);
      &:hover {
         cursor: pointer;
         background-color: #d4d2cf;
      }
   }
}

.unshoosen-delivery {
   opacity: 0.5;
}

.selected-dish-wrapper {
   width: 95%;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   padding-bottom: 0.8rem;
   margin-bottom: 1rem;
   .selected-dish-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 0.8rem;
      div {
         padding-left: 1rem;
         padding-right: 1rem;
      }
      .selected-dish-head-left {
         display: flex;
         gap: 0.5rem;
         font-weight: bold;
         div {
            padding: 0;
         }
         .selected-dish-name {
            text-decoration: underline;
            &:hover {
               cursor: pointer;
               text-decoration: none;
            }
         }
      }
      .selected-dish-price {
         display: flex;
         gap: 0.25rem;
      }
   }

   .selected-dish-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .selected-dish-addcomment {
         padding-left: 2.2rem;
         text-decoration: underline;

         &:hover {
            cursor: pointer;
            text-decoration: none;
         }
      }
      .selected-dish-left-counter {
         display: flex;
         gap: 0.8rem;
         span {
            font-size: 1.2rem;
         }
         img {
            height: 2rem;
            width: 2rem;
            background-color: #131313;
            border-radius: 100%;
            filter: invert(1);
            transition: var(--transition);
            &:hover {
               cursor: pointer;
               background-color: #3d3d3d;
            }
         }
      }
   }
}

.selected-dish-wrapper:last-child {
   border: none;
}

.costs-overview-wrapper {
   width: 85%;
   padding-bottom: 0.8rem;
   margin-bottom: 1rem;
}

.costs-wrapper {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.costs-service-wrapper {
   display: flex;
   img {
      height: 1.2rem;
      width: 1.2rem;
      background-color: #f36805;
      border-radius: 100%;
      &:hover {
         cursor: pointer;
      }
   }
}

.costs-all-wrapper {
   font-weight: bold;
}

.pay-button {
   margin-top: 1rem;
   width: 100%;
   background-color: var(--accentcolor);
   color: white;
   border-radius: 20px;
   justify-content: center;
   align-items: center;
   display: flex;
   font-weight: bold;
   font-size: 20px;
   transition: var(--transition);

   &:hover {
      cursor: pointer;
      background-color: #e66306;
   }
   .costs-pay-button {
      padding: 1rem;
      padding-left: 0.25rem;
   }
}
